{% extends 'blog/base_full_width.html' %}

{% block head_title %}Edit Post - Blog{% endblock %}

{% block main_area %}
    <h1>Edit Post</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <th><label for="id_tags_str">Tags:</label></th>
                <td><input type="text" name="tags_str" id="id_tags_str" value="{{ tags_str_default }}"></td>
            </tr>

        </table>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
{% endblock %}
